.bg-dark{
    background-color: #1E3148 !important;
}

.navlist{
    position: relative;
}

a.navbar-brand:hover{
    transition: all .2s;
    transform: rotate(360deg) scale(1.3);
    color: #8CAACF;
}
