.container{
    padding-top: 100px;
    
}
body{
    background-color: white;
    color: white;
}
.header{
    text-align: center;
}
.post-button{
    position: fixed;
    bottom: 0;
    right: 0;
    /* background-color: none; */
    margin-bottom: 10px;
    margin-right: 10px;
}

.container{
    width: 50%;
}
.card{
    align-items: right;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #426a9eaf;
    padding-left: 10px;
    padding-right: 10px;
    
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.username{
    font-weight: 550;
}

.name{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button.hidecomments{
    color: white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    margin-bottom: 3px;
    box-shadow: inset;
    border-color: beige;
    border: none;
    width: max-content;
    align-self: center;
}
.rating5:hover{
    transition: all .2s;
    color: #FE7;
    text-shadow: 0 0 20px rgb(153, 145, 34);
}
.rating4:hover{
    transition: all .2s;
    color: #FE7;
}
.rating3:hover{
    transition: all .2s;
    color: rgb(255, 198, 9);
}
.rating2:hover{
    transition: all .2s;
    color: rgb(238, 141, 14); 
}
.rating1:hover{
    transition: all .2s;
    color: rgb(223, 7, 7);
    text-shadow: 0 0 20px rgb(153, 34, 34);

}

.image{
    height: 400px;
    width: 100%;
}

.comment-popup{
    width: auto;
    height: auto;
    display: none;
    position: fixed;
    bottom: 300px;
    right: 500px;
    box-shadow: rgb(3, 3, 3);
    z-index: 9;
    color: white;
    background-color: rgba(44, 43, 43, 0.836);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
button.btn{
    background-color: rgb(93, 99, 102);
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

button.btn-submit{
    color:white;
    border-radius: 8px;
    background-color: #1E3148;
    border-style: none;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button.cancel{
    color: white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    border-style: none;
    border-top: 10px;
}

div.recommendedGood{
    
   height: 20px;
   width: 10px;
   border-bottom: 5px solid rgb(0, 255, 0);
   border-right: 5px solid rgb(0, 255, 0);
   transform: rotate(20deg);
}

div.recommendedMaybe{
    height: 20px;
    width: 10px;
    border-bottom: 5px solid rgb(251, 255, 0);
    border-right: 5px solid rgb(251, 255, 0);
    transform: rotate(20deg);
 }
 
 div.recommendedBad{
    height: 25px;
    width: 40px;
    background-color: none;
    border-radius: 5px;
    position: relative;
 }

 div.recommendedBad::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 20px; 
    color: #FFF;
    /* line-height: 100px; */
    text-align: left;
}